html ::selection { background-color: #27E1E7; }

html body { overflow-x: hidden; background-color: #3D566E; font-family: 'Roboto', Arial, sans-serif; margin: 0px; }

html p { margin: 0; }

html a, html a:link, html a:visited, html a:link:active, html a:visited:active { text-decoration: none; outline: none; color: white; }

html img { display: block; }

html .flex-row { display: flex; justify-content: center; flex-direction: row; width: 100%; }

html .flex-col { display: flex; justify-content: center; flex-direction: column; height: 100%; }

div.top { z-index: 1; display: block; position: absolute; height: 100%; width: 100%; }

div.bottom { position: absolute; height: 100%; width: 100%; }

div.bottom div.spacer { display: block; width: 100%; height: 100%; min-height: 700px; position: relative; }

div.bottom div.spacer .personal-links { width: 100%; height: 54px; position: absolute; bottom: 0px; align-items: center; justify-content: space-around; left: 50%; transform: translateX(-50%); z-index: 999999; }

div.bottom div.spacer .personal-links a { width: 26px; height: 26px; padding: 8px; background-repeat: no-repeat; background-position: center; }

div.bottom div.spacer .personal-links .discord, div.bottom div.spacer .personal-links .email { position: relative; cursor: pointer; -webkit-backface-visibility: hidden; }

div.bottom div.spacer .personal-links .discord .popup, div.bottom div.spacer .personal-links .email .popup { position: absolute; top: 0px; left: 50%; transform: translate(-50%, -100%); transition: opacity 0.15s cubic-bezier(0.23, 1, 0.32, 1); }

div.bottom div.spacer .personal-links .discord .popup input, div.bottom div.spacer .personal-links .email .popup input { background-color: rgba(246, 241, 241, 0.15); border-radius: 2px; color: #E1E5E9; border: none; outline: none; font-size: 16px; padding: 12px; text-align: center; cursor: text; position: relative; }

div.bottom div.spacer .personal-links .discord .popup.hidden, div.bottom div.spacer .personal-links .email .popup.hidden { opacity: 0; pointer-events: none; }

div.bottom div.spacer .personal-links .twitter { background-image: url("/cdn/logos/personal/twitter.png"); }

div.bottom div.spacer .personal-links .discord { background-image: url("/cdn/logos/personal/discord.png"); }

div.bottom div.spacer .personal-links .discord input { width: 225px; }

@media (max-width: 750px) { div.bottom div.spacer .personal-links .discord input { left: 40px; } }

@media (max-width: 500px) { div.bottom div.spacer .personal-links .discord input { left: 60px; } }

div.bottom div.spacer .personal-links .facebook { background-image: url("/cdn/logos/personal/facebook.png"); }

div.bottom div.spacer .personal-links .youtube { background-image: url("/cdn/logos/personal/youtube.png"); }

div.bottom div.spacer .personal-links .soundcloud { background-image: url("/cdn/logos/personal/soundcloud.png"); }

div.bottom div.spacer .personal-links .github { background-image: url("/cdn/logos/personal/github.png"); }

div.bottom div.spacer .personal-links .steam { background-image: url("/cdn/logos/personal/steam.png"); }

div.bottom div.spacer .personal-links .instagram { background-image: url("/cdn/logos/personal/instagram.png"); }

div.bottom div.spacer .personal-links .email { background-image: url("/cdn/logos/personal/email.png"); }

div.bottom div.spacer .personal-links .email input { width: 185px; }

@media (max-width: 1750px) { div.bottom div.spacer .personal-links .email input { right: 20px; } }

@media (max-width: 1500px) { div.bottom div.spacer .personal-links .email input { right: 35px; } }

@media (max-width: 1250px) { div.bottom div.spacer .personal-links .email input { right: 50px; } }

@media (max-width: 1000px) { div.bottom div.spacer .personal-links .email input { right: 65px; } }

@media (max-width: 750px) { div.bottom div.spacer .personal-links .email input { right: 80px; } }

@media (max-width: 500px) { div.bottom div.spacer .personal-links .email input { right: 90px; } }

header.page { box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; background-color: #F6F1F1; transform: rotate(4deg); width: calc(100% + 100px); left: -50px; position: relative; height: 210px; }

header.page img { width: 180px; height: 180px; display: block; position: absolute; margin: auto; padding: 15px 0px; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-4deg); }

header.page p.one { position: absolute; top: 50%; transform: translate(-50%, -50%); left: 75%; }

p.two { position: absolute; text-align: left; left: 20%; transform: translateX(-50%); }

@media (max-width: 500px) { p.two { transform: translateX(-50%) scale(0.8); } }

section.projects { box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px; background-color: #17E7A4; height: 300px; position: relative; padding: 0px 50px; justify-content: space-around; align-items: center; padding: 0px 50px; transform: rotate(-4deg) translateX(-50px) translateY(35px); }

section.projects div.chevron { min-width: 64px; min-height: 64px; cursor: pointer; background-image: url("/cdn/chevron-down-128-F6F1F1.png"); background-repeat: no-repeat; background-position: center; animation: hover-in-air 2s ease-in-out infinite; }

@keyframes hover-in-air { 0% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(-5px); } }

html p { display: block; text-align: center; }

html p.one { font-size: 50px; color: #3D566E; }

html p.two { font-size: 30px; color: #F6F1F1; }

html p.three { font-size: 60px; color: #3D566E; }

html div.text { color: #F6F1F1; width: 280px; min-width: 100px; }

html div.text .title { font-size: 40px; }

html div.text .description { font-size: 17px; color: #E1E5E9; }

html div.text.r p { text-align: right; }

html div.text.l p { text-align: left; }

div.bottom section { position: relative; padding-bottom: 140px; }

div.bottom section header { box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.25); height: 160px; align-items: center; justify-content: space-around; background-color: #324659; padding: 0px 50px; transform: translateX(-50px); }

div.bottom section header img { width: 100px; }

div.bottom section main { flex-wrap: wrap; box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px; }

div.bottom section main .item { z-index: 2; overflow: hidden; position: relative; width: calc(100% / 8); transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.45s cubic-bezier(0.23, 1, 0.32, 1); }

div.bottom section main .item .overlay { z-index: 987654; width: 100%; height: 100%; position: absolute; background-color: black; opacity: 0; }

div.bottom section main .item .title { -webkit-backface-visibility: hidden; z-index: 987654; position: absolute; left: 50%; transform: translateX(-50%); padding: 5px 13px; width: calc(100% - 26px); font-size: 17px; opacity: 0; transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1); }

div.bottom section main .item .img { width: 100%; height: 100%; background-repeat: no-repeat; background-size: 101% auto; background-position-y: center; position: relative; }

div.bottom section main .item:hover { transform: scale(1.1); box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px; }

div.bottom section main .item:hover .overlay { opacity: 0.25; }

div.bottom section main .item:hover .title { opacity: 1; }

@media (max-width: 2000px) { div.bottom section main.adjust-height .item { width: calc(100% / 7); }
  div.bottom section main.adjust-height .item:nth-child(8) { display: none; } }

@media (max-width: 1750px) { div.bottom section main.adjust-height .item { width: calc(100% / 6); }
  div.bottom section main.adjust-height .item:nth-child(7) { display: none; } }

@media (max-width: 1500px) { div.bottom section main.adjust-height .item { width: calc(100% / 5); }
  div.bottom section main.adjust-height .item:nth-child(6) { display: none; } }

@media (max-width: 1250px) { div.bottom section main.adjust-height .item { width: calc(100% / 4); }
  div.bottom section main.adjust-height .item:nth-child(6), div.bottom section main.adjust-height .item:nth-child(7), div.bottom section main.adjust-height .item:nth-child(8) { display: block; } }

@media (max-width: 1000px) { div.bottom section main.adjust-height .item { width: calc(100% / 3); }
  div.bottom section main.adjust-height .item:nth-child(7), div.bottom section main.adjust-height .item:nth-child(8) { display: none; } }

@media (max-width: 750px) { div.bottom section main.adjust-height .item { width: calc(100% / 2); } }

@media (max-width: 500px) { div.bottom section main.adjust-height .item { width: calc(100%); }
  div.bottom section main.adjust-height .item:nth-child(1n+5) { display: none; } }

div.bottom section.lacuna p.title { width: 300px; }

div.bottom section.lacuna .item { width: calc(100% / 8); }

@media (max-width: 1750px) { div.bottom section.lacuna .item { width: calc(100% / 7); }
  div.bottom section.lacuna .item:nth-child(8) { display: none; } }

@media (max-width: 1500px) { div.bottom section.lacuna .item { width: calc(100% / 6); }
  div.bottom section.lacuna .item:nth-child(7) { display: none; } }

@media (max-width: 1250px) { div.bottom section.lacuna .item { width: calc(100% / 5); }
  div.bottom section.lacuna .item:nth-child(6) { display: none; } }

@media (max-width: 1000px) { div.bottom section.lacuna .item { width: calc(100% / 4); }
  div.bottom section.lacuna .item:nth-child(6), div.bottom section.lacuna .item:nth-child(7), div.bottom section.lacuna .item:nth-child(8) { display: block; } }

@media (max-width: 750px) { div.bottom section.lacuna .item { width: calc(100% / 3); }
  div.bottom section.lacuna .item:nth-child(7), div.bottom section.lacuna .item:nth-child(8) { display: none; } }

@media (max-width: 500px) { div.bottom section.lacuna .item { width: calc(100% / 2); } }

div.bottom section.dev .item { background-color: #20202A; }

div.bottom section.dev .item .title { color: white; width: calc(100% - 26px); }

div.bottom section.dev .item:hover .links { opacity: 1; }

div.bottom section.dev .item div.links { z-index: 987654; opacity: 0; position: absolute; bottom: 0px; right: 0px; transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1); }

div.bottom section.dev .item div.links a { width: 24px; height: 24px; padding: 4px; background-repeat: no-repeat; background-position: center; float: right; }

div.bottom section.dev .item div.links .github-link { background-size: 18px; background-image: url("/cdn/logos/project/github.png"); padding-right: 2px; }

div.bottom section.dev .item div.links .link { background-size: 16px; background-image: url("/cdn/open-in-new.png"); padding-left: 2px; }

div.bottom .footnote { color: white; transform: translateY(-200%); }
