// $shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
// $shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
// $shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
// $shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
// $shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
$shadow-headers: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.25)
// $shadow-items: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
$shadow-lv1: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px
$shadow-lv2: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px
$shadow-lv3: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px
$shadow-social-links: rgba(0, 0, 0, 0.188235) 0px 16px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px
$shadow-lv4: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px
$shadow-lv5: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px
$shadow-items: $shadow-lv5

$transition: .15s cubic-bezier(0.4, 0.0, 0.2, 1)
$transition-item: .45s cubic-bezier(0.23, 1, 0.32, 1)
$transition-dev-links: .3s cubic-bezier(0.23, 1, 0.32, 1)
$transition-fade: .15s cubic-bezier(0.23, 1, 0.32, 1)

$c-white: #F6F1F1
$c-white-dark: #E1E5E9
$c-green: #3bcae6
$c-dark: #354C61
$c-darker: #2A3C4D
// #2ABFDF


html
    ::selection
        background-color: #27E1E7
    body
        overflow-x: hidden
        background-color: $c-dark
        font-family: 'Roboto', Arial, sans-serif
        margin: 0px
    p
        margin: 0
    a, a:link, a:visited, a:link:active, a:visited:active
        text-decoration: none
        outline: none
        color: white
    img
        display: block
    .flex-row
        display: flex
        justify-content: center
        flex-direction: row
        width: 100%
    .flex-col
        display: flex
        justify-content: center
        flex-direction: column
        height: 100%

div.top
    z-index: 1
    // transform: translateX(37px)
    display: block
    position: absolute
    height: 100%
    width: 100%
div.bottom
    // transform: translateX(37px)
    position: absolute
    height: 100%
    width: 100%
    div.spacer
        display: block
        width: 100%
        height: 100%
        min-height: 700px
        position: relative
        .personal-links
            width: 100%
            height: 54px
            position: absolute
            bottom: 0px

            align-items: center
            justify-content: space-around
            left: 50%
            transform: translateX(-50%)
            // max-width: 500px
            z-index: 999999
            background-color: $c-dark
            box-shadow: $shadow-social-links
            a
                width: 26px
                height: 26px
                padding: 8px
                background-repeat: no-repeat
                background-position: center
            .discord, .email
                position: relative
                cursor: pointer
                -webkit-backface-visibility: hidden
                .popup
                    position: absolute
                    top: 0px
                    left: 50%
                    transform: translate(-50%, -100%)
                    transition: opacity $transition-fade
                    input
                        background-color: rgba($c-white, 0.15)
                        border-radius: 2px
                        color: $c-white-dark
                        border: none
                        outline: none
                        font-size: 16px
                        padding: 12px
                        text-align: center
                        cursor: text
                        position: relative
                    &.hidden
                        opacity: 0
                        pointer-events: none
            .twitter
                background-image: url("/cdn/logos/personal/twitter.png")
            .discord
                background-image: url("/cdn/logos/personal/discord.png")
                input
                    width: 225px
                    @media (max-width: 750px)
                        left: 40px
                    @media (max-width: 500px)
                        left: 60px
            .facebook
                background-image: url("/cdn/logos/personal/facebook.png")
            .youtube
                background-image: url("/cdn/logos/personal/youtube.png")
            .soundcloud
                background-image: url("/cdn/logos/personal/soundcloud.png")
            .github
                background-image: url("/cdn/logos/personal/github.png")
            .steam
                background-image: url("/cdn/logos/personal/steam.png")
            .instagram
                background-image: url("/cdn/logos/personal/instagram.png")
            .email
                background-image: url("/cdn/logos/personal/email.png")
                input
                    width: 185px
                    @media (max-width: 1750px)
                        right: 20px
                    @media (max-width: 1500px)
                        right: 35px
                    @media (max-width: 1250px)
                        right: 50px
                    @media (max-width: 1000px)
                        right: 65px
                    @media (max-width: 750px)
                        right: 80px
                    @media (max-width: 500px)
                        right: 90px

header.page
    box-shadow: $shadow-lv1
    background-color: $c-white
    transform: rotate(4deg)
    width: calc(100% + 100px)
    left: -50px
    position: relative
    height: 210px
    img
        width: 180px
        height: 180px
        display: block
        position: absolute
        margin: auto
        padding: 15px 0px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(-4deg)
    p.one
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)
        left: 75%
p.two
    position: absolute
    text-align: left
    left: 20%
    transform: translateX(-50%)
    @media (max-width: 500px)
        transform: translateX(-50%) scale(0.8)
section.projects
    box-shadow: $shadow-lv2
    background-color: $c-green
    // background-color: #17e7dd
    height: 300px
    position: relative
    padding: 0px 50px
    justify-content: space-around
    align-items: center
    padding: 0px 50px
    transform: rotate(-4deg) translateX(-50px) translateY(35px)
    div.chevron
        min-width: 64px
        min-height: 64px
        cursor: pointer

        background-image: url("/cdn/chevron-down-128-F6F1F1.png")
        background-repeat: no-repeat
        background-position: center

        animation: hover-in-air 2s ease-in-out infinite
        @keyframes hover-in-air
            0%
                transform: translateY(-5px) //rotate(4deg)
            50%
                transform: translateY(5px) //rotate(4deg)
            100%
                transform: translateY(-5px) //rotate(4deg)

html
    p
        display: block
        text-align: center
    p.one
        font-size: 50px
        color: $c-dark
    p.two
        font-size: 30px
        color: $c-white
    p.three
        font-size: 60px
        color: $c-dark
    div.text
        color: $c-white
        width: 280px
        min-width: 100px
        .title
            font-size: 40px
        .description
            font-size: 17px
            color: $c-white-dark
        &.r p
            text-align: right
        &.l p
            text-align: left

div.bottom
    section
        position: relative
        padding-bottom: 140px
        header
            box-shadow: $shadow-headers
            height: 160px
            align-items: center
            justify-content: space-around
            background-color: $c-darker
            padding: 0px 50px
            transform: translateX(-50px)
            img
                width: 100px
        main
            flex-wrap: wrap
            .item
                z-index: 2
                overflow: hidden
                position: relative
                width: calc(100% / 8)
                .overlay
                    z-index: 987654
                    width: 100%
                    height: 100%
                    position: absolute
                    background-color: black
                    opacity: 0
                .title
                    -webkit-backface-visibility: hidden
                    z-index: 987654
                    position: absolute
                    left: 50%
                    transform: translateX(-50%)
                    padding: 5px 13px
                    width: calc(100% - 26px)
                    font-size: 17px
                    opacity: 0
                    transition: opacity $transition-item
                .img
                    width: 100%
                    height: 100%
                    background-repeat: no-repeat
                    background-size: 101% auto
                    background-position-y: center
                    position: relative
                transition: transform $transition-item, box-shadow $transition-item
                &:hover
                    transform: scale(1.1)
                    box-shadow: $shadow-items
                    .overlay
                        opacity: 0.25
                    .title
                        opacity: 1
            box-shadow: $shadow-lv2
            &.adjust-height .item
                @media (max-width: 2000px)
                    width: calc(100% / 7)
                    &:nth-child(8)
                        display: none
                @media (max-width: 1750px)
                    width: calc(100% / 6)
                    &:nth-child(7)
                        display: none
                @media (max-width: 1500px)
                    width: calc(100% / 5)
                    &:nth-child(6)
                        display: none
                @media (max-width: 1250px)
                    width: calc(100% / 4)
                    &:nth-child(6), &:nth-child(7), &:nth-child(8)
                        display: block
                @media (max-width: 1000px)
                    width: calc(100% / 3)
                    &:nth-child(7), &:nth-child(8)
                        display: none
                @media (max-width: 750px)
                    width: calc(100% / 2)
                @media (max-width: 500px)
                    width: calc(100%)
                    &:nth-child(1n+5)
                        display: none

    section.lacuna
        p.title
            width: 300px
        .item
            width: calc(100% / 8)
            @media (max-width: 1750px)
                width: calc(100% / 7)
                &:nth-child(8)
                    display: none
            @media (max-width: 1500px)
                width: calc(100% / 6)
                &:nth-child(7)
                    display: none
            @media (max-width: 1250px)
                width: calc(100% / 5)
                &:nth-child(6)
                    display: none
            @media (max-width: 1000px)
                width: calc(100% / 4)
                &:nth-child(6), &:nth-child(7), &:nth-child(8)
                    display: block
            @media (max-width: 750px)
                width: calc(100% / 3)
                &:nth-child(7), &:nth-child(8)
                    display: none
            @media (max-width: 500px)
                width: calc(100% / 2)

    section.dev
        .item
            background-color: #20202A
            .title
                color: white
                //font-size: 17px
                width: calc(100% - 26px)
            &:hover .links
                opacity: 1
            div.links
                z-index: 987654
                opacity: 0
                position: absolute
                bottom: 0px
                right: 0px
                transition: opacity $transition-item
                a
                    width: 24px
                    height: 24px
                    padding: 4px
                    background-repeat: no-repeat
                    background-position: center
                    float: right
                .github-link
                    background-size: 18px
                    background-image: url("/cdn/logos/project/github.png")
                    transition: transform $transition-dev-links
                    &:hover
                        transform: scale(1.25)
                // .link
                //     background-size: 16px
                //     background-image: url("/cdn/open-in-new.png")
                //     padding-left: 2px

    .footnote
        color: white
        transform: translateY(-200%)
