// $dark: #1D212D
$darkest: #14161D
$selection-color: #ffffff
$selection-bg-color: #6273D8
$link-color: #006edc
$button-color: #3f3f3f
$description-color: #383838
$tiny-description-color: #5a5a5a
$card-edge-color: #ececec
$title-color: #000000

$button-text-color: #000000

// transitions
$transition-15:             .15s cubic-bezier(0.4, 0.0, 0.2, 1.0)

$transition-10:             .10s cubic-bezier(0.4, 0.0, 0.2, 1.0)
$transition-10-in:          .10s cubic-bezier(0.0, 0.0, 0.2, 1.0)
$transition-10-out:         .10s cubic-bezier(0.4, 0.0, 1.0, 1.0)

$transition-20:             .20s cubic-bezier(0.4, 0.0, 0.2, 1.0)
$transition-20-in:          .20s cubic-bezier(0.0, 0.0, 0.2, 1.0)
$transition-20-out:         .20s cubic-bezier(0.4, 0.0, 1.0, 1.0)

$transition-30:             .30s cubic-bezier(0.4, 0.0, 0.2, 1.0)
$transition-30-in:          .30s cubic-bezier(0.0, 0.0, 0.2, 1.0)
$transition-30-out:         .30s cubic-bezier(0.4, 0.0, 1.0, 1.0)

$transition-40:             .40s cubic-bezier(0.4, 0.0, 0.2, 1.0)
$transition-40-in:          .40s cubic-bezier(0.0, 0.0, 0.2, 1.0)
$transition-40-out:         .40s cubic-bezier(0.4, 0.0, 1.0, 1.0)

$transition-100:             1s cubic-bezier(0.4, 0.0, 0.2, 1.0)

html
    ::selection
        color: $selection-color
        background-color: $selection-bg-color
    body
        font-family: "Rubik", sans-serif
        background-color: #ffffff
        display: flex
        flex-direction: column
        width: 100%
        margin: 0px
        align-items: center
@media (max-width: 600px)
    div.social-media
        grid-template-columns: repeat(4, 1fr)
    section
        div.thumbnails .item, div.cards .item
            width: 300px
        .thumbnails, .cards
            > .item:nth-child(1n+4)
                display: none
    section.video, section.synctan
        div.thumbnails .item
            height: calc(300px/16*9 - 4px)
    section.lacuna
        div.thumbnails .item
            height: 270px
    section.github div.cards
        .item
            padding: 10px

section
    max-width: 1000px
.svg-link
    cursor: pointer
    display: block
    &.hidden svg
        display: none
    svg
        height: 22px
        width: 22px
        padding: 12px
        fill: $button-color
        opacity: 0.8
        &:hover
            opacity: 1
        *
            pointer-events: none
.social-media
    display: grid
    justify-items: center
    grid-gap: 20px
    grid-template-columns: repeat(8, 1fr)
    margin: 10px auto
    margin-bottom: 40px
    width: 1000px
    max-width: 100%
    justify-content: space-around
    a.has-popup
        position: relative
        &.popup-hidden .popup
            transform: translate(-50%, -10px) scale(0.5)
            pointer-events: none
            opacity: 0
        .popup
            margin: 0px
            cursor: text
            display: block
            text-align: center
            font-family: "Rubik", sans-serif
            position: absolute
            transition: $transition-20 all
            transform: translate(-50%, 0px)
            font-size: 14px
            border: none
            outline: none
            color: $darkest
            top: 100%
            left: 50%
            padding: 5px
            background-color: transparent
.logo
    margin: 50px
    width: 150px
    height: 150px
section
    width: 100%
    margin-bottom: 50px
    transition: $transition-40 all
    // overflow: hidden
    &.hidden
        opacity: 0
    &.removed
        display: none
    .header
        width: 100%
        p
            margin: auto
            text-align: center
        p.title
            color: $title-color
            font-size: 26px
            margin-bottom: 4px
        p.description
            color: $description-color
    .thumbnails, .cards
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        .item
            border-radius: 10px
            width: 200px
            margin: 40px
            padding: 0px
            overflow: hidden
            transition: $transition-30 transform
            &:hover
                transform: scale(1.1)
                img
                    transform: scale(1.3)
            &.hidden
                display: none
            img
                transition: $transition-100 all
                width: 100%
                display: block
    .see-more
        margin: auto
        display: table
        padding: 9px 13px
        text-decoration: none
        position: relative
        border-radius: 6px
        transition: $transition-30 transform, $transition-30 background-color
        background-color: rgba(#000000, 0.03)
        &::before // for increasing the hover area
            content: ''
            position: absolute
            top: 0px
            left: 0px
            width: 100%
            height: 100%
            border-radius: 6px
            transition: $transition-30 transform, $transition-30 background-color
        &::after
            background-color: rgba(#000000, 0.03)
            content: ''
            position: absolute
            top: 0px
            left: 0px
            width: 100%
            height: 100%
            border-radius: 6px
            transition: $transition-30 transform, $transition-30 background-color
            pointer-events: none
        &:hover
            background-color: rgba(#000000, 0.06)
            transform: scale(0.8)
            &::before
                transform: scale(1.4)
            &::after
                background-color: rgba(#000000, 0.06)
                transform: scale(1.4) rotateZ(180deg)
        p
            margin: auto
            color: $button-text-color
    &.video, &.synctan
        .item
            display: flex
            align-items: center
            height: calc(200px/16*9)
            img
                transform: scale(1.02)
    &.soundcloud
        .item
            width: 180px
            margin: 40px 50px
            height: auto
    &.github
        .cards
            margin-top: 10px
        .item
            display: flex
            flex-direction: column
            width: calc(200px + 20px)
            margin: calc(50px - 20px)
            border: 2px solid $card-edge-color
            box-sizing: border-box
            backface-visibility: hidden
            &:hover
                transform: none
            p.title
                margin: 18px
                margin-bottom: 10px
                font-size: 18px
                color: $title-color
            p.description
                margin: 0px 18px
                font-size: 14px
                color: $tiny-description-color
            .urls
                display: flex
                justify-content: flex-end
                margin-top: auto
.canvas-container
    position: absolute
    top: 0px
    left: 0px
    z-index: -1
    width: 100%
    transform: rotate(180deg)
    transition: $transition-100 opacity
    &.hidden
        opacity: 0
    canvas
        display: block
