doctype html
html(lang='en')
    head
        title Kasper
        meta(name="Description" content="My portfolio website")
        //- font
        link(href="https://fonts.googleapis.com/css?family=Rubik:400", rel="stylesheet")
        //- css
        link(rel="stylesheet" type="text/css" href="global.css")
        //- mobile fix
        meta(name="viewport" content="width=device-width")
        //- favicon
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=QEJrjJyAKx")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png?v=QEJrjJyAKx")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png?v=QEJrjJyAKx")
        link(rel="manifest", href="/site.webmanifest?v=QEJrjJyAKx")
        link(rel="mask-icon", href="/safari-pinned-tab.svg?v=QEJrjJyAKx", color="#3f3f3f")
        link(rel="shortcut icon", href="/favicon.ico?v=QEJrjJyAKx")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="theme-color", content="#ffffff")
    body
        img.logo(alt="" src="static/kh-logo.png")
        .social-media
            a.svg-link.twitter(target="_blank" rel="noopener noreferrer" title="Twitter" href="https://twitter.com/SpectralKH")
                include static/svg logos/twitter.svg
            a.svg-link.discord.has-popup.popup-hidden(title="Discord")
                include static/svg logos/discord.svg
                p.popup Kasper#6425
            a.svg-link.youtube(target="_blank" rel="noopener noreferrer" title="YouTube" href="https://youtube.com/SpectralKH")
                include static/svg logos/youtube.svg
            a.svg-link.instagram(target="_blank" rel="noopener noreferrer" title="Instagram" href="https://www.instagram.com/spckh/")
                include static/svg logos/instagram.svg
            a.svg-link.github(target="_blank" rel="noopener noreferrer" title="GitHub" href="https://github.com/SpectralKH")
                include static/svg logos/github.svg
            a.svg-link.facebook(target="_blank" rel="noopener noreferrer" title="Facebook" href="https://www.facebook.com/SpectralKH")
                include static/svg logos/facebook.svg
            a.svg-link.email.has-popup.popup-hidden(title="Email")
                include static/icons/envelope.svg
                p.popup kasperkh.kh@gmail.com
            a.svg-link.soundcloud(target="_blank" rel="noopener noreferrer" title="SoundCloud" href="https://soundcloud.com/SpectralKH")
                include static/svg logos/soundcloud.svg
        section.video.hidden
            .header
                p.title Video
                p.description I make some pretty cool videos. I'd watch them.
            .thumbnails
                - for (var i = 0; i < 6; i++)
                    a.item(target="_blank" rel="noopener noreferrer")
                        img(alt="")
            a.see-more(target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/playlist?list=PL84-DNDSU8p5WP6jA7hvOCV9dIKBNjdCS")
                p See more
        section.shrive.hidden
            .header
                p.title Shrive
                p.description A YouTube channel where I curate all kinds of music I like.
            .thumbnails
                - for (var i = 0; i < 6; i++)
                    a.item(target="_blank" rel="noopener noreferrer")
                        img(alt="")
            a.see-more(target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/shrive")
                p See more
        section.soundcloud.lacuna.hidden
            .header
                p.title Lacuna
                p.description I am a co-owner of this independent indie record label.
            .thumbnails
                - for (var i = 0; i < 6; i++)
                    a.item(target="_blank" rel="noopener noreferrer")
                        img(alt="")
            a.see-more(target="_blank" rel="noopener noreferrer" href="https://soundcloud.com/lacunarecs")
                p See more
        section.github.hidden
            .header
                p.title Development
                p.description I do some programming for fun. These are some of my favorite projects.
            .cards
                - for (var i = 0; i < 6; i++)
                    .item.hidden
                        p.title
                        p.description
                        .urls
                            a.svg-link.repo-website.hidden(title="Website" target="_blank" rel="noopener noreferrer")
                                include static/icons/link.svg
                            a.svg-link.repo-url.hidden(title="Repository" target="_blank" rel="noopener noreferrer")
                                include static/svg logos/github.svg
            a.see-more(target="_blank" rel="noopener noreferrer" href="https://github.com/spectralkh")
                p See more
        //- script
        //-     include global.js
        script(src="js/global.js")
        script(src='lib/three.min.js')
        script(src="js/canvas-renderer-and-projector.min.js")
        script(src="js/bg.js")
