doctype html
html(lang='en')
    head
        title Kasper
        //- font
        link(href="https://fonts.googleapis.com/css?family=Rubik:400", rel="stylesheet")
        //- css
        link(rel="stylesheet" type="text/css" href="global.css")
        //- stuff
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="Description" content="My portfolio website")
        //- favicon
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=QEJrjJyAKx")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png?v=QEJrjJyAKx")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png?v=QEJrjJyAKx")
        link(rel="manifest", href="/site.webmanifest?v=QEJrjJyAKx")
        link(rel="mask-icon", href="/safari-pinned-tab.svg?v=QEJrjJyAKx", color="#3f3f3f")
        link(rel="shortcut icon", href="/favicon.ico?v=QEJrjJyAKx")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="theme-color", content="#ffffff")
    body
        img.logo(alt="" src="static/kh-logo.png")
        .social-media
            a.twitter(target="_blank" rel="noopener noreferrer" title="Twitter" href="https://twitter.com/SpectralKH")
            a.discord.has-popup(title="Discord")
                p.popup.hidden Kasper#6425
            a.youtube(target="_blank" rel="noopener noreferrer" title="YouTube" href="https://youtube.com/SpectralKH")
            a.instagram(target="_blank" rel="noopener noreferrer" title="Instagram" href="https://www.instagram.com/spckh/")
            a.github(target="_blank" rel="noopener noreferrer" title="GitHub" href="https://github.com/SpectralKH")
            a.facebook(target="_blank" rel="noopener noreferrer" title="Facebook" href="https://www.facebook.com/SpectralKH")
            a.email.has-popup(title="Email")
                p.popup.hidden kasperkh.kh@gmail.com
            a.soundcloud(target="_blank" rel="noopener noreferrer" title="SoundCloud" href="https://soundcloud.com/SpectralKH")
        section.video.hidden
            .header
                p.title Video
                p.description I make some pretty cool videos. I'd watch them.
            .thumbnails
                - for (var i = 0; i < 6; i++)
                    a.item(target="_blank" rel="noopener noreferrer")
                        img(alt="")
        section.synctan.hidden
            .header
                p.title Synctan
                p.description A YouTube channel where I curate all kinds of music I like.
            .thumbnails
                - for (var i = 0; i < 6; i++)
                    a.item(target="_blank" rel="noopener noreferrer")
                        img(alt="")
        section.soundcloud.lacuna.hidden
            .header
                p.title Lacuna
                p.description I am a co-owner of this independent indie record label.
            .thumbnails
                - for (var i = 0; i < 6; i++)
                    a.item(target="_blank" rel="noopener noreferrer")
                        img(alt="")
        section.github.hidden
            .header
                p.title Development
                p.description I do some programming for fun. These are some of my favorite projects.
            .cards
                - for (var i = 0; i < 6; i++)
                    .item.hidden
                        p.title
                        p.description
                        .urls
                            a.repo-website.hidden(title="Website" target="_blank" rel="noopener noreferrer")
                            a.repo-url.hidden(title="Repository" target="_blank" rel="noopener noreferrer")
        //- script
        //-     include global.js
        script(src="js/global.js")
        script(src='lib/three.min.js')
        script(src="js/canvas-renderer-and-projector.min.js")
        script(src="js/bg.js")
